{% include "ApiInfo.j2" %}

package {{ common_package_name }};

public class RetryConfig {
    public boolean enableRetry;
    public int backOffMultiplier;
    public int backOffBase;
    public int maxRetries;


     /**
   * @param enableRetry Enable retry when rate limited
   * @param backOffMultiplier Multiplier for retry backoff
   * @param backOffBase Base for retry backoff
   * @param maxRetries Maximum number of retries 
   */

    public RetryConfig(boolean enableRetry, int backOffMultiplier, int backOffBase, int maxRetries) {
        this.enableRetry = enableRetry;
        this.backOffMultiplier = backOffMultiplier;
        this.backOffBase = backOffBase;
        this.maxRetries = maxRetries;
    }

  public boolean isEnableRetry() {
        return enableRetry;
    }

    public int getBackOffMultiplier() {
        return backOffMultiplier;
    }

    public int getBackOffBase() {
        return backOffBase;
    }

    public int getMaxRetries() {
        return maxRetries;
    }

    public void setEnableRetry(boolean enableRetry) {
        this.enableRetry = enableRetry;
    }

    public void setBackOffMultiplier(int backOffMultiplier) {
        this.backOffMultiplier = backOffMultiplier;
    }

    public void setBackOffBase(int backOffBase) {
        this.backOffBase = backOffBase;
    }
    public void setMaxRetries(int maxRetries) {
        this.maxRetries = maxRetries;
    }

}