name: IntegrationTests
trigger:
  batch: false
  branches:
    include:
    - master
pr:
  branches:
    include:
      - master

jobs:
- job: IntegrationTests
  pool:
    vmImage: "Ubuntu-16.04"
  steps:
    - task: Docker@2
      displayName: Build the Image
      inputs:
        command: build
        Dockerfile: Dockerfile.test.v1
        arguments: -t datadog-java-integration-test
    - task: Docker@2
      inputs:
        command: run
        arguments: --volume /home/vsts/work/1/s:/datadog-api-client-java --env RECORD --env DD_TEST_CLIENT_API_KEY --env DD_TEST_CLIENT_APP_KEY datadog-java-integration-test
      displayName: Run integration tests
      env:
        DD_TEST_CLIENT_API_KEY: $(datadogAPIKey)
        DD_TEST_CLIENT_APP_KEY: $(datadogAPPKey)
        RECORD: "true"
    - script: |
        bash <(curl -s https://codecov.io/bash)
      displayName: Upload to codecov.io
      env:
        CODECOV_TOKEN: $(codecovToken)
- job: IntegrationTestsIbm
  pool:
    vmImage: "Ubuntu-16.04"
  steps:
    - task: Docker@2
      displayName: Build the Image
      inputs:
        command: build
        Dockerfile: Dockerfile.test.v1.ibm
        arguments: -t datadog-java-integration-test-ibm
    - task: Docker@2
      inputs:
        command: run
        arguments: --volume /home/vsts/work/1/s:/datadog-api-client-java --env RECORD --env DD_TEST_CLIENT_API_KEY --env DD_TEST_CLIENT_APP_KEY datadog-java-integration-test-ibm
      displayName: Run integration tests on IBM JDK
      env:
        DD_TEST_CLIENT_API_KEY: $(datadogAPIKey)
        DD_TEST_CLIENT_APP_KEY: $(datadogAPPKey)
        RECORD: "true"
