name: Run Tests

on:
 pull_request:
   branches:
     - master

jobs:
 test:
   strategy:
     matrix:
       java-version: ["8", "9"]
       platform: [ubuntu-latest, macos-latest, windows-latest]
   runs-on: ${{ matrix.platform }}
   steps:
   - name: Install Java
     uses: actions/setup-java@v1
     with:
       java-version: ${{ matrix.java-version }}
   - name: Checkout code
     uses: actions/checkout@v2
   - name: Test
     run: mvn --batch-mode test